.metro-line {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10em;
  text-transform: uppercase;
  width: 8em;
  margin-left: 1em;
  text-align: center;
}

.metro-station {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10em;
  text-align: left;
  width: 10em;
  flex-wrap: wrap;
  padding: 0.5em;
}

.recents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25em;
}

.recents > button {
  display: flex;
  align-items: center;
  padding: 0.25em;
}

.recents-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10em;
}

.bookmark-button {
  background-color: lightgray;
  color: blue;
}
