<app-header></app-header>
<div class="picture-container">
  <img src="../../assets/bookmarks.png" class="actual-picture" />
</div>
<div class="show-line">
  <div
    class="selected-line"
    [ngStyle]="{
      'background-color': getLineBackgroundColor(lineCode)
    }"
  >
    {{ metroLine }} LINE
  </div>
  <div class="station-name">{{ stationName }} Station</div>
</div>
<div class="arrival-container">
  <app-arrival-times
    [selectedCode]="stationCode"
    *ngIf="stationCode !== undefined"
  ></app-arrival-times>
</div>
