<app-header></app-header>
<div class="enter-button">
  <button mat-raised-button (click)="goToHomePage()">Start</button>
  <button mat-raised-button (click)="goToRecentsPage()">Recents</button>
  <button mat-raised-button (click)="goToMapPage()">Map</button>
  <button mat-raised-button (click)="goToWMATATwitter()">News</button>
</div>
<div class="train-animation">
  <div class="train-toot">Toot toot!</div>
  <img src="../assets/train.png" />
</div>
<div class="chessie-container">
  <img src="../assets/landing_page.png" class="chessie-image" />
</div>
