<app-header></app-header>
<div class="show-line">
  <div
    class="selected-line"
    [ngStyle]="{
      'background-color': metroLine
    }"
  >
    {{ metroLine }} LINE
  </div>
</div>
<div class="tab-container" *ngIf="lineCode !== undefined">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-label">access_time</mat-icon>
        <div class="tab-text">Arrival Times</div>
      </ng-template>
      <div class="arrival-times">
        <div class="picture-container">
          <img src="../assets/arrival_times.png" class="actual-picture" />
        </div>
        <mat-form-field
          *ngIf="lineCode !== undefined && stationList.length > 0"
        >
          <mat-label class="station-label">Station</mat-label>
          <mat-select
            [(value)]="selectedCode"
            class="station-select"
            (selectionChange)="showTimes($event)"
          >
            <mat-option
              *ngFor="let station of stationList"
              [value]="station.code"
              class="station-option"
            >
              {{ station.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="arrival-container">
          <app-arrival-times
            [selectedCode]="selectedCode"
            *ngIf="selectedCode !== undefined"
          ></app-arrival-times>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-label">directions_railway</mat-icon>
        <div>Route Information</div>
      </ng-template>
      <div class="route-information">
        <div class="picture-container">
          <img src="../assets/standard_route.png" class="actual-picture" />
        </div>
        <div *ngIf="standardRoute.length > 0">
          <p class="hint">(click a station for more info)</p>
          <div *ngFor="let route of standardRoute">
            <div class="station-name">
              <div class="route-order">{{ route.order }}</div>
              <button (click)="getArrivalTime(route)">
                <div class="route-name">
                  {{ route.name }}
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
